{{extend 'layout.html'}}

<!-- If the user requests to list posts by votes, -->
{{if request.function== 'list_posts_by_votes':}}

    <!-- display the name of the category -->
    <h1>Welcome to {{=category.name.title()}}!</h1>

    <!-- Allow for there to be a button to enable the user to create a post. -->
    {{=A('Post Something', _class='btn btn-primary', _href=URL('create_post', args=category.name))}}

    <!-- Allow for there to be a button to enable the user to list posts by time of creation. -->
    {{=A('Sort by Date', _class='btn', _href=URL('list_posts_by_datetime', args=category.name))}}

<!-- If the user requests to list posts by votes, -->
{{elif request.function=='list_posts_by_datetime':}}
    <h1>{{=category.name.title()}}</h1>

    <!-- do the same thing except have the page have a button to list posts by the highest number of votes. -->
    {{=A('Post Something', _class='btn btn-primary', _href=URL('create_post', args=category.name))}}
    {{=A('Sort by Votes', _class='btn', _href=URL('list_posts_by_votes', args=category.name))}}


<!-- This branch is not taken -->
{{else:}}
    <h1>{{=category.name.title()}}</h1>
    <h1>{{=author(user_id)}}</h1>
{{pass}}

{{for post in rows:}}
    <div class="well">
        <table>
            <tr data-id="{{=post.id}}">
                <td><button data-direction="down">-</button></td>
                <td><span class = "votes">{{=post.votes}}</span></td>
                <td><button data-direction="up">+</button></td>
                <td><strong>{{=post.title}}</strong></td>
            </tr>

            <tr>
                <!---->
                <td colspan="3"></td> <td>{{=A('View Post', _href=URL('view_post', args=post.id))}}</td>
            </tr>

            <tr>

            </tr>

        </table>
    </div>
{{pass}}

{{if page>0:}}
        {{=A('previous', _class='btn', _href=URL(args=(category.name,page-1)))}}
{{pass}}

{{if len(rows)>=10:}}
        {{=A('next', _class='btn', _href=URL(args=(category.name, page+1)))}}
{{pass}}

<script>
    function do_ajax_vote(t,direction){
        var id = jQuery(t).closest('tr').attr('data-id');
        jQuery.ajax({method: 'post',url:'{{=URL('vote_callback')}}',
                     data:{'id':id, 'direction': direction},
                     success: function(data) {
                        jQuery(t).closest('tr').find('.votes').html(data);
                     } });

    }

    jQuery(function() {
       jQuery('[data-direction=up]').click(function(){do_ajax_vote(this,'up');});
       jQuery('[data-direction=down]').click(function(){do_ajax_vote(this,'down');});
    });
</script>