{{extend 'layout.html'}}

<div class="row">
<h5>{{=board.title}}
   <span>{{icon=icon_edit}}
      {{if board.created_by == auth.user_id:}}
         {{=A(icon, _href=URL('edit_board', args=[board['board.id']]))}}
      {{pass}}
   </span>

</h5>

</div>

<div class="row">
{{if auth.user:}}

   {{=A('Create Post', _class='col s12 m3 l3 waves-effect waves-light btn', _href=URL('create_post', args=request.args))}}
   {{=A('Log Out', _class='col s12 m3 l3 waves-effect waves-light btn right', _href=URL('user/logout', vars=dict(_next=URL(args=request.args))))}}

{{else:}}
   {{=A('Sign Up', _class='col s12 m3 l3 waves-effect waves-light btn right', _href=URL('user/register', vars=dict(_next=URL(args=request.args))))}}
   {{=A('Log In', _class='col s12 m3 l3 waves-effect waves-light btn right', _href=URL('user/login', vars=dict(_next=URL(args=request.args))))}}

{{pass}}
</div>


<div class="row">
   {{for post in posts:}}
   <div class="col s12 m3 l3">
      <div class="card blue-grey lighten-5 z-depth-4">
         <div class="section">
            {{trash=icon_trash}}
            {{edit_post=icon_edit_p}}
            {{if auth.user and post.created_by == auth.user_id:}}
               {{=A(edit_post, _class='right', _href=URL('edit_posts', args=[post['post.id']]))}}
               {{=A(trash, _class='left', _href=URL('default', 'delete_post', args=[post['post.id']]))}}
            {{pass}}
         </div>
        <div class="card-content black-text">
          <span class="card-title black-text">{{=post.title}}</span>
          <div class="divider teal darken-4"></div>
          <div class="section">
            <p>{{=post.body}}</p>
          </div>
          <div class="section">

          </div>
          <div class="section">
             {{
                import datetime
                str_date = str(post.created_on)
                parse_date = datetime.datetime.strptime(str_date, "%Y-%m-%d %H:%M:%S")
                format_date = str(parse_date)
                pretty_date = datetime.datetime.strptime(format_date, "%Y-%m-%d %H:%M:%S")
                pretty_date = pretty_date.strftime("%b %d, %Y %I:%M:%S %p")
             }}

            <p id="date" class="center">Posted on {{=pretty_date}}</p>
          </div>
        </div>
      </div>
   </div>
   {{pass}}
</div>
