{{extend 'layout.html'}}

<style>

.fa-trash:hover:before{
    content: "\f014"
}

</style>

<!--  List Posts Buttons -->

<!-- If the user requests to list posts by votes, -->
{{if request.function== 'list_posts_by_votes':}}

    <!-- display the name of the category -->
    <h1>Welcome to {{=category.name.title()}}!</h1>

    <!-- Allow for there to be a button to enable the user to create a post. -->
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#formNewPost">
          <span class="glyphicon glyphicon-plus"></span> New Post
    </button>

    <!-- Allow for there to be a button to enable the user to list posts by time of creation. -->
    {{=A('Sort by Date', _class='btn', _href=URL('list_posts_by_datetime', args=category.name))}}

<!-- If the user requests to list posts by votes, -->
{{elif request.function=='list_posts_by_datetime':}}
    <h1>{{=category.name.title()}}</h1>

    <!-- do the same thing except have the page have a button to list posts by the highest number of votes. -->
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#formNewPost">
          <span class="glyphicon glyphicon-plus"></span> New Post
    </button>
    {{=A('Sort by Votes', _class='btn', _href=URL('list_posts_by_votes', args=category.name))}}


<!-- This branch is not taken -->
{{else:}}
    <h1>{{=category.name.title()}}</h1>
    <h1>{{=author(user_id)}}</h1>
{{pass}}

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">New Post</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
<div class="modal-content">
<h4>New Post For {{=category.name.title()}}</h4>
{{=form_new_post.custom.begin}}

        <div class="input-field col s12">
          {{=form_new_post.custom.widget.title}}
          <label>Title</label>
        </div>

        <div class="input-field col s12">
          {{=form_new_post.custom.widget.body}}
          <label>Body</label>
        </div>

        <div class="input-field col s12">
          <p>
            Upload Image
          </p>
          {{=form_new_post.custom.widget.image}}
        </div>

        <div class="input-field col s12">
          {{=form_new_post.custom.widget.uc}}
        </div>

        {{=form_new_post.custom.submit}}


{{=form_new_post.custom.end}}

</div>
<div class="modal-footer">
<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
</div>
</div>
          <!-- Modal for Viewing Post Image -->
          <div class="modal fade" id="formNewPost" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">{{=category.name.title()}} /<small> New Post</small></h4>
                </div>
                <div class="modal-body">
                    {{=form_new_post}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

<!-- Dropdown Trigger for UC Filtering -->
<div style="float: right;">

  Filter By: <a id="buttonUC" class='dropdown-button btn' href='#' data-activates='dropdownUC'>{{=request.vars.uc or '[All]'}}</a>

  <!-- Dropdown Structure -->
  <ul id='dropdownUC' class='dropdown-content'>
  {{for uc in ['[All]']+UCS:}}
    <li><a href="{{=URL(args=request.args, vars={'uc':uc})}}">{{=uc}}</a></li>
  {{pass}}
  </ul>

  <!-- Add vertical space between Filter By dropdown menu and posts. -->
  <br>
  <br>
  <br>

</div>

<!-- Make vertical space between the posts and the +New Post, SORT BY VOTES/DATE, and Filter By buttons. -->
<br>
<br>
<br>


<!-- List every post using the Image Card component from MaterializeCSS. See documentation for more information
     http://materializecss.com/cards.html -->
<div class="row">
{{for post in rows:}}
        {{
          article_body = post.body
          article_body = article_body[:140]
        }}

        <div class="col s12 m3">
          <div class="card medium transparent z-depth-0">
            <div class="card-image">
            {{if post.image:}}
                  <img src="{{=URL(r=request, f='download', args=post.image)}}" class="img-responsive" style="padding-top: 5px; opacity: 0.3">
            {{else:}}
                  <img src="{{=URL('static', 'images/uc-mag-default.png')}}" class="img-responsive" style="padding-top: 5px; opacity: 0.3">
            {{pass}}
              <span class="card-title black-text">{{=post.title}}</span>
            </div>
            <div class="card-content">
              <p>{{=article_body}}</p>
              {{=A('Read More', _href=URL('view_post', args=post.id))}}
              {{if auth.user and post.created_by==auth.user.id:}}
                <span class="spanTrash pull-right">
                     <a href="{{=URL('default', 'delete_post', args=post.id)}}" class="fa fa-trash fa-lg"></a>
                </span>
              {{pass}}
            </div>





          </div>
        </div>

  {{pass}}
</div>

<!-- Pagination for posts. Display 10 posts per page. -->
<!-- Massimo shows how to do this in his Week 1 tutorial -->
{{if page>0:}}
        {{=A('previous', _class='btn', _href=URL(args=(category.name,page-1)))}}
{{pass}}

{{if len(rows)>=10:}}
        {{=A('next', _class='btn', _href=URL(args=(category.name, page+1)))}}
{{pass}}


<!-- Make vertical space between Next/Previous buttons and the footer. -->
<br>
<br>
<br>
<br>

<!-- Old voting logic. This script isn't being used (aside from the first two lines)
     We are still keeping this for the future if we decide to take the project beyond
     this class. It is a useful component that we do not wish to delete.
-->
<script>

$(document).ready(function(){
 // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
 $('.modal-trigger').leanModal();
});


  $(document).ready(function() {
    $('select').material_select();
  });


    $('select option[value=""]').remove();
    $('#post_uc').prepend('<option value="Choose" selected hidden >Choose One</option>');

/*
    function do_ajax_vote(t,direction){
        var id = jQuery(t).closest('tr').attr('data-id');
        jQuery.ajax({method: 'post',url:'{{=URL('vote_callback')}}',
                     data:{'id':id, 'direction': direction},
                     success: function(data) {
                        jQuery(t).closest('tr').find('.votes').html(data);
                     } });

    }

    jQuery(function() {
       jQuery('[data-direction=up]').click(function(){do_ajax_vote(this,'up');});
       jQuery('[data-direction=down]').click(function(){do_ajax_vote(this,'down');});
    });

    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
      }
    );
*/
</script>
