{{extend 'layout.html'}}

<!-- If the user requests to list posts by votes, -->
{{if request.function== 'list_posts_by_votes':}}

    <!-- display the name of the category -->
    <h1>Welcome to {{=category.name.title()}}!</h1>

    <!-- Allow for there to be a button to enable the user to create a post. -->
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#formNewPost">
          <span class="glyphicon glyphicon-plus"></span> New Post
    </button>

    <!-- Allow for there to be a button to enable the user to list posts by time of creation. -->
    {{=A('Sort by Date', _class='btn', _href=URL('list_posts_by_datetime', args=category.name))}}

<!-- If the user requests to list posts by votes, -->
{{elif request.function=='list_posts_by_datetime':}}
    <h1>{{=category.name.title()}}</h1>

    <!-- do the same thing except have the page have a button to list posts by the highest number of votes. -->
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#formNewPost">
          <span class="glyphicon glyphicon-plus"></span> New Post
    </button>
    {{=A('Sort by Votes', _class='btn', _href=URL('list_posts_by_votes', args=category.name))}}


<!-- This branch is not taken -->
{{else:}}
    <h1>{{=category.name.title()}}</h1>
    <h1>{{=author(user_id)}}</h1>
{{pass}}

          <!-- Modal for Viewing Post Image -->
          <div class="modal fade" id="formNewPost" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">{{=category.name.title()}} /<small> New Post</small></h4>
                </div>
                <div class="modal-body">
                    {{=form_new_post}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


{{for post in rows:}}

    {{if auth.user and post.created_by==auth.user.id:}}
        {{btn_class="btn disabled"
          btn_attr="disabled"
        }}
    {{else:}}
        {{btn_class="btn default"
          btn_attr=""
        }}

    {{pass}}

    <div class="well">
        <table>
            <tr data-id="{{=post.id}}">
                <td><button data-direction="down" {{=btn_attr}} class="{{=btn_class}}">-</button></td>
                <td><span class = "votes">{{=post.votes}}</span></td>
                <td><button data-direction="up" {{=btn_attr}} class="{{=btn_class}}">+</button></td>
                <td><strong>{{=post.title}}</strong></td>
            </tr>

            <tr>
                <!---->
                <td colspan="3"></td> <td>{{=A('View Post', _href=URL('view_post', args=post.id))}}</td>
            </tr>

            <tr>

            </tr>

        </table>
    </div>
{{pass}}

{{if page>0:}}
        {{=A('previous', _class='btn', _href=URL(args=(category.name,page-1)))}}
{{pass}}

{{if len(rows)>=10:}}
        {{=A('next', _class='btn', _href=URL(args=(category.name, page+1)))}}
{{pass}}

<script>
    function do_ajax_vote(t,direction){
        var id = jQuery(t).closest('tr').attr('data-id');
        jQuery.ajax({method: 'post',url:'{{=URL('vote_callback')}}',
                     data:{'id':id, 'direction': direction},
                     success: function(data) {
                        jQuery(t).closest('tr').find('.votes').html(data);
                     } });

    }

    jQuery(function() {
       jQuery('[data-direction=up]').click(function(){do_ajax_vote(this,'up');});
       jQuery('[data-direction=down]').click(function(){do_ajax_vote(this,'down');});
    });

    $('select option[value=""]').remove();

    $('#post_uc').prepend('<option value="Choose" selected hidden >Choose One</option>');

</script>
